* {
	margin:0;
	padding:0;
}
	
body {
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	width: 100%;
	height: auto;
	overflow-x: hidden;	
}
	
img {
	vertical-align: bottom;
}	

#TOP {
	width:100%;
	background-color:#5e5e5e;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
	font-size:15px;
	color:#fff100;
	margin-left:16px;
	margin-right:16px;
	padding-top:10px;
}
	
h2 {
	font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
	font-size:15px;
	color:#FFFFFF;
	line-height:2.2;
	margin-left:16px;
	margin-right:16px;
}
	

.pttitle{
	background-color: #0091ab;
	color: #FFF;
	padding: 2%;
	margin: 0;
	font-size: 3.5vw;
}

.ptlist a {
  color: #3c3030;
  text-decoration: none;
  font:bold 100%/1.2 "微軟正黑體";
  text-align: center;
}

ul.ptlist{
  list-style: none;
  padding: 3% 2% 0% 3%;
  margin: 0px;
  background-color: #01b1d1;
  width: 100%;
  box-sizing: border-box;
}

ul.ptlist:last-child{
  padding: 3% 2% 3% 3%;
}

ul.ptlist:after{
  content: '';
  clear: both;
  display: block;
}

ul.ptlist li{
  width: 47%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  float: left;
  margin-right: 3%;
}

ul.ptlist li:last-child{
  margin-right: 0px;
}

ul.ptlist li img{
  width: 100%;
}

.ptlist h5,.ptlist p{
  	margin: 2%;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;		
	overflow: hidden;	
	text-overflow: ellipsis; 
}

.ptlist p {
	height: 40px;
	font-size: 16px;
}

.ptlist h5{
	background-color: #026aac;
	color: #ffffff;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1; 
}

.ptlist div{
  width: 100%;
  text-align: center;
  font:bold 200% Arial;
  color: #ff297f;
}

.ptlist div::before{
  content: "$";
  font-size: 50%;
}

.copyright {
	margin: 0;
}